<p *ngIf = "!(authService.getUser() | async)">You are not logged in</p>
<div>
  <button mat-raised-button color = "primary"
  (click) = "addCustomerFormOpen = !addCustomerFormOpen">
        Add Customer
  </button>
</div>
<div>
  <customerform *ngIf = "addCustomerFormOpen"
  (update) = "add($event)"
  (closeEdit) = "addCustomerFormOpen = false"
  [formType] = " 'Add customer' ">
  </customerform>
</div>

<table mat-table [dataSource]="customers" class="mat-elevation-z8"
*ngIf = "(authService.getUser() | async)">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <span *ngIf = "i != rowToEdit"> {{element.name}} </span> 
        <mat-form-field *ngIf = "i == rowToEdit" >
          <input          
            matInput
            [(ngModel)] = "customerToEdit.name" 
            [value] = "element.name" >
        </mat-form-field>
    </td>
  </ng-container>

  <!-- Education Column -->
  <ng-container matColumnDef="education">
    <th mat-header-cell *matHeaderCellDef> Education </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <span *ngIf = "i != rowToEdit"> {{element.education}} </span> 
        <mat-form-field *ngIf = "i == rowToEdit" >
          <input          
            matInput
            [(ngModel)] = "customerToEdit.education" 
            [value] = "element.education" >
        </mat-form-field>
    </td>
  </ng-container>

  <!-- Income Column -->
  <ng-container matColumnDef="income">
    <th mat-header-cell *matHeaderCellDef> Income </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <span *ngIf = "i != rowToEdit"> {{element.income}} </span> 
        <mat-form-field *ngIf = "i == rowToEdit" >
          <input          
            matInput
            [(ngModel)] = "customerToEdit.income" 
            [value] = "element.income" >
        </mat-form-field>
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-raised-button
      color = "warn" (click) = "deleteCustomer(element.id)">
        Delete
    </button>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button 
          *ngIf = "i!=rowToEdit"
          mat-raised-button
          (click) = "moveToEditState(i)" >
          Edit
        </button> 
        <button 
          *ngIf = "i==rowToEdit"
          mat-raised-button
          color="primary"
          (click) = "update()" >
          Save
        </button> 
        <button 
          *ngIf = "i==rowToEdit"
          mat-raised-button
          (click) = "rowToEdit = null" >
          Cancel
        </button>                   
      </td>
  </ng-container>

    <!-- Predict Column -->
    <ng-container matColumnDef="predict">
      <th mat-header-cell *matHeaderCellDef> Predict </th>
      <td mat-cell *matCellDef="let element; let i = index">
            <button mat-raised-button
            color = "primary" (click) = "sendData(i,element.education, element.income)"
            *ngIf = "!element.result">
              Predict
            </button>
            <button mat-raised-button
            color = "primary" (click) = "savePredict(i, element.id, element.result)"
            *ngIf = "element.result && !element.saved">
              Save
            </button>
        <span *ngIf = "element.saved">Saved</span>
      </td>
    </ng-container>

    <!-- Result Column -->
    <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef> Result </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span  [ngClass]="[element.result=='Will pay' ? 'green' : 'red']">{{element.result}}</span>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

